<section class="hero is-white is-fullheight">
  <div class="hero-body">
      <div class="container">
        <div class="columns">
          <section class="column">
            <h1 class="title"><%= @reaction.word %></h1>
            <h1 class="sub-title"><%= @reaction.definition%></h1>
          </section>
        </div>
      </div>
    </div>
</section>