 <style>
#grad {
  background: linear-gradient(to bottom right, <%= @two_colors[0].hex_value %>, <%= @two_colors[1].hex_value %>);
}
</style>
 <body>
        <section id= "grad" class="hero is-medium">
            <div class="hero-head">
      
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title has-text-white">
                    Chromotherapy
                    </h1>
                    <h2 class="subtitle has-text-white">
                    This website was created to log people's emotional reactions to particular colors.
                    </h2>
                </div>
            </div>
        </section>
        <div class="box cta">
            <p class="has-text-centered">
              To add colors to the database and log your reactions, please <%= link_to 'create an account.', new_user_path%>
            </p>
        </div>
        <section class="container">
            <div class="columns features">
                <div class="column is-4 is-offset-2">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-paw"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Chromotherapy background </h4>
                                <p>Chromotherapy, sometimes called color therapy, colorology or cromatherapy, is an alternative medicine method, which is considered pseudoscience.[1] Chromotherapists claim to be able to use light in the form of color to balance "energy" lacking from a person's body, whether it be on physical, emotional, spiritual, or mental levels. </p>
                                <p><a href="https://en.wikipedia.org/wiki/Chromotherapy" target="_blank">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-empire"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>About this site</h4>
                                <p>This site is meant to gather simple information about how a user feels while observing colors. Over time, with enough use, it will provide a large data pool to aid in understanding our interaction with visual stimulus. Once you are logged in, you can find instruction on how to log your reaction on each color's page. Once you have an account you can view your profile to revisit which colors you have experienced.</p>
                                <p><a href="https://github.com/jtrtj/chromotherapy" target="_blank">View on GitHub</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <script src="../js/bulma.js"></script>
</footer>